sudo: false

language: node_js

node_js:
  - node

cache: npm

install:
  - npm ci

script:
  - npm run lint
  - npm run test

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: dist
  on:
    branch: build

notifications:
  email: false